@page "/Notes"
@using FrostSteelCorporation;






<div class="IcySegoeWhite">11/28/2021</div>

<div class="IcySegoeWhite">Having a empty()console.readykey in add example on Calculon creates a glitch in the site.</div>
